.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(249, 249, 249, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 800px;
    width: 90%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

.close-button {
    display: none;
}

.modal-body {
    overflow-y: auto;
    flex-grow: 1;
    font-size: 0.9rem;
    color: #555;
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: #ccc #fff;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-track {
    background: #fff; /* White track */
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Light grey thumb */
    border-radius: 4px;
    border: 2px solid #fff; /* Creates padding around thumb */
}

.modal-body ol {
    padding-left: 20px;
}

.modal-body li {
    margin-bottom: 1rem;
}

.modal-body ul {
    padding-left: 20px;
    list-style-type: disc;
}

.modal-body ul li {
    margin-bottom: 0.5rem;
}

.modal-footer {
    border-top: 1px solid #eee;
    padding-top: 1rem;
    margin-top: 1rem;
    text-align: right;
}

@media (max-width: 768px) {
    .modal-content {
        width: 95%;
        padding: 1.5rem;
    }

    .modal-header h2 {
        font-size: 1rem;
    }

    .modal-body {
        font-size: 0.85rem;
    }
}

